body{
    background-color: rgba(255, 199, 94, 0.7);
}
section{
    margin: 10%;
}
.cont{
    display: flex;
}
.two{
    margin-top: 120px;
}
img{
    width: 20%;
    text-align: center;
}
.img{
    text-align: center;
}
h1{
    font-family: 'DM Sans', sans-serif;

}
.h2{
    margin-right: 40px;
}
.h1{
    margin-right: 5px;
}   
p{
    font-size: 1.25rem;
    font-family: 'DM Sans', sans-serif;
}