:root {
    --primary-color: #add8e6;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-image: linear-gradient(to bottom, #add8e6, #c6e0f0, #dee9f7, #f1f3fb, #ffffff);
}
.navigation {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 20px;
    /* border-bottom: 1px solid gray; */
}
li {
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    font-family: sans-serif;
}
li:nth-child(4) {
    border-right: none;
}
.border-li {
    padding-right: 15px;
    padding-left: 15px;
    border-right: solid black 1px;
}
/* a {
    padding-right: 10px;
    padding-left: 6px;
} */
.cosa {
    padding-right: 20px;
    border-right: solid black 1px;
}
.logo {
    font-family: 'M PLUS 1', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    border-right: none;
    border-bottom: black solid 1px;
    margin-left: 10px;
}
.logo:hover {
    color: #a52a2a;
}
.ani:hover {
    animation-name: ani;
    animation-duration: .5s;
}
@keyframes ani {
    0% {
        border-bottom: none;
    }
    100% {
        border-bottom: black 1px solid;
    }
}
a:hover {
    color: #a52a2a;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    border-bottom: black 1px solid;
}
.links {
    text-decoration: none;
    color: #000000;
}
.box {
    /* border: 1px black solid; */
    margin: 2.35%;
}
#progress-bar {
    --scrollAmount: 0%;
    background-image: linear-gradient(to right, #f7f7f7 0%, #000000 100%);
    width: var(--scrollAmount);
    height: 3px;
    position: fixed;
    top: 0;
  }
.grid {
    height: 4000px;
    display: grid;
    grid-template: repeat(48, 1fr) / repeat(24, 1fr);
    align-items: center;
    justify-items: center;
}
.color {
    background-color: black;
}
.title1-grid {
    position: absolute;
    font-size: 2.1rem;
    align-self: flex-end;
    top: 185px;
}
.title {
    font-size: 42rem;
    grid-column: 12 / 14;
    grid-row: 3;
    font-family: "Mohave";
    align-self: flex-start;
}
.sub-text {
    font-size: 2.4rem;
    position: absolute;
    top: 660px
}
.number1-container {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    grid-column: 14;
    grid-row: 4;
    border: solid black 3px;
    margin-bottom: 15px;
    font-size: 3.5rem;
}
.number2-container {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    grid-column: 11;
    grid-row: 11;
    border: solid black 3px;
    margin-bottom: 15px;
    font-size: 3.5rem;
}
.number3-container {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    grid-column: 11;
    grid-row: 13;
    border: solid black 3px;
    margin-bottom: 15px;
    font-size: 3.5rem;
}
.number4-container {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    grid-column: 14;
    grid-row: 15;
    border: solid black 3px;
    margin-bottom: 15px;
    font-size: 3.5rem;
}
.number5-container {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    grid-column: 14;
    grid-row: 17;
    border: solid black 3px;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 3.5rem;
}
.text-right {
    grid-column: 14 / 21;
    grid-row: 5;
    font-size: 1.9rem;
    line-height: 3.2rem;
    text-align: left;
}
.text-right2 {
    grid-column: 14 / 21;
    grid-row: 16;
    font-size: 1.9rem;
    line-height: 3.2rem;
    text-align: left;
}
.text-right3 {
    grid-column: 14 / 21;
    grid-row: 18;
    font-size: 1.9rem;
    line-height: 3.2rem;
    text-align: left;
}
.text-left1 {
    grid-column: 5 / 12;
    grid-row: 12;
    font-size: 1.9rem;
    line-height: 3.2rem;
    text-align: right;
}
.text-left2 {
    grid-column: 5 / 12;
    grid-row: 14;
    font-size: 1.9rem;
    line-height: 3.2rem;
    text-align: right;
}
p {
    padding-bottom: 22px;
    font-family: "Roboto";
}
.mid-text {
    grid-column: 11 / 15;
    grid-row: 8;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    margin-top: 6%;
    font-family: "Mohave", sans-serif;
    font-size: 3.5rem;
    margin-bottom: 55px;
}
h2 {
    font-size: 2.09rem;
    padding-bottom: 22px;
    font-family: "Merriweather";
    text-decoration: underline;
}
.image-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
img {
    width: 100%;
    padding: 40px;
    border-radius: 70px;
}
.Animation {
    animation-name: Animation;
    animation-duration: 3s;
  }
  @keyframes Animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.Animation-h1 {
    animation-name: Animation-h1;
    animation-duration: 2s;
    }
    @keyframes Animation-h1 {
        from {
            transform: translate3d(0, -100%, 0);
            -webkit-transform: translate3d(0, -100%, 0);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
.Animation-text {
    animation-name: Animation-text;
    animation-duration: 2.3s;
  }
@keyframes Animation-text {
    from {
      opacity: 0;
      transform: translate3d(0, -5%, 0);
      -webkit-transform: translate3d(0, -5%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
.final {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}