:root {
    --primary-color: #add8e6;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-image: linear-gradient(to bottom, #add8e6, #c6e0f0, #dee9f7, #f1f3fb, #ffffff);
}
.navigation {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 20px;
    /* border-bottom: 1px solid gray; */
}
/* nav:nth-child(1) a{
    padding-right: 6px;
} */
li {
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    font-family: sans-serif;
}
li:nth-child(4) {
    border-right: none;
}
.border-li {
    padding-right: 15px;
    padding-left: 15px;
    border-right: solid black 1px;
}
/* a {
    padding-right: 10px;
    padding-left: 6px;
} */
.cosa {
    padding-right: 20px;
    border-right: solid black 1px;
}
.logo {
    font-family: 'M PLUS 1', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    border-right: none;
    border-bottom: black solid 1px;
    margin-left: 10px;
}
.logo:hover {
    color: #a52a2a;
}
.ani:hover {
    animation-name: ani;
    animation-duration: .5s;
}
@keyframes ani {
    0% {
        border-bottom: none;
    }
    100% {
        border-bottom: black 1px solid;
    }
}
a:hover {
    color: #a52a2a;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    border-bottom: black 1px solid;
}
.links {
    text-decoration: none;
    color: #000000;
}
h1 {
    text-align: center;
    margin-top: 6%;
    font-family: "Mohave", sans-serif;
    font-size: 3.5rem;
}
.box {
    margin: 5.5% 25%;
    text-align: justify;
    font-size: 1.5rem;
}
p {
    font-size: 2rem;
    font-family: helvetica, arial;
    padding-bottom: 20px;
}
h2 {
    font-size: 2.09rem;
    padding-bottom: 22px;
    font-family: "Merriweather";
    text-decoration: underline;
}
.image-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.image-container-exception {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
}
img {
    width: 100%;
    border-radius: 20px;
}
.final-text {
    font-size: 1rem;
}
.Animation {
    animation-name: Animation;
    animation-duration: 3s;
  }
  @keyframes Animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.Animation-h1 {
    animation-name: Animation-h1;
    animation-duration: 2s;
    }
    @keyframes Animation-h1 {
        from {
            transform: translate3d(0, -100%, 0);
            -webkit-transform: translate3d(0, -100%, 0);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
.Animation-text {
    animation-name: Animation-text;
    animation-duration: 2.3s;
  }
@keyframes Animation-text {
    from {
      opacity: 0;
      transform: translate3d(0, -5%, 0);
      -webkit-transform: translate3d(0, -5%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  #progress-bar {
    --scrollAmount: 0%;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    width: var(--scrollAmount);
    height: 5px;
    position: fixed;
    top: 0;
  }