:root {
  --primary-color: #add8e6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
    to bottom,
    #add8e6,
    #c6e0f0,
    #dee9f7,
    #f1f3fb,
    #ffffff
  );
}
.navigation {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 20px;
  /* border-bottom: 1px solid gray; */
}
li {
  list-style: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding-right: 10px;
  padding-left: 6px;
  border-right: solid black 1px;
}
li:nth-child(5) {
  border-right: none;
}
.logo {
  font-family: "M PLUS 1", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #000000;
  padding-left: 20px;
}
.logo:hover {
  color: #a52a2a;
}
a:hover {
  color: #a52a2a;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
}
.links {
  text-decoration: none;
  color: #000000;
}
.container-grid {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(12, 1fr);
  height: 100vh;
}
.box1 {
  border: 4px solid #000000;
  grid-column: 3 / 6;
  grid-row: 2 / 7;
  border-radius: 3px;
}
.Animation-content1{
  box-shadow: 2px 8px 19px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 8px 19px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 8px 19px -3px rgba(0, 0, 0, 0.75);
  grid-column: 4 / 8;
  grid-row: 4 / 6;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  overflow: hidden;
}
.box2 {
  border: 4px solid #000000;
  grid-column: 7 / 11;
  grid-row: 5 / 8;
  z-index: -1;
  border-radius: 3px;
}
.Animation-content2{
  box-shadow: 2px 8px 19px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 8px 19px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 8px 19px -3px rgba(0, 0, 0, 0.75);
  grid-column: 9 / 12;
  grid-row: 3 / 7;
  border-radius: 5px;
  background-image: linear-gradient(to left, #a1c4fd, #a3cefe, #aad8fd, #b5e1fc, #c2e9fb);
  font-size: 2rem;
}
.box3 {
    border: solid 4px #000000;
    grid-column: 7 / 10;
    grid-row: 1 / 2;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-family: "Merriweather";
}
.text {
    grid-column: 3;
    grid-row: 6;
}
p {
    display: flex;
    text-align: center;
    padding: 15px;
}
img {
    width: 100%;
    overflow: hidden;
    padding: 3px;
    border-radius: 10px 10px 10px 10px;
}
.Animation {
  animation-name: Animation;
  animation-duration: 3s;
}
@keyframes Animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Animation-content1 {
  animation-name: Animation-content1;
  animation-duration: 3s;
}
@keyframes Animation-content1 {
  from {
    transform: translate3d(-40%, -10%, 0);
    -webkit-transform: translate3d(-40%, -10%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.Animation-content2 {
    animation-name: Animation-content2;
    animation-duration: 2.5s;
}
@keyframes Animation-content2 {
    from {
        transform: translate3d(50%, -10%, 0);
        -webkit-transform: translate3d(50%, -10%, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
.Animation-text {
  animation-name: Animation-text;
  animation-duration: 2.3s;
}
@keyframes Animation-text {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
